.label {
    -fx-font-family: "Century Gothic";

}

.table-view {
    -fx-font-family: "Century Gothic";
}

.button {
    -fx-font-family: "Century Gothic";
}


#addSceneLabel {
    -fx-font-family: "Century Gothic";

}

.label {
    -fx-font-family: "Century Gothic";

}

.button {
    -fx-font-family: "Century Gothic";
}

.table-view .scroll-bar {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.table-cell {
    -fx-alignment: BASELINE_CENTER;

}