* {
    -fx-font-family: "Century Gothic";
}

/*  Buttons  */
.button {
    -fx-background-color: #33aaff;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #66bfff, hotpink);
}

/* Textfelder */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 6;
}

/* ChoiceBoxen */
.choice-box {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 6;
}


.table-row-cell:selected:focused {
    -fx-background-color: #66bfff;

}

.button.active {
    -fx-background-color: hotpink;
    -fx-text-fill: white;
}
